@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body{
    font-family: 'Arimo', sans-serif; 
    
}

.footer_container{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    background-color: #421D32;
    padding: 4em 10em;
    color: white;
    
}

.top_section{
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}

.extra_area{
    margin: 0 10em;
    display: flex;
    flex-direction: column;
}

.extra_area>*{
    margin: 0 ;
    color: white;
    text-decoration: none;
}

.extra_area>h2{
    margin-bottom: 1em;
    position: relative;
}

.extra_area>h2::before{
    content: "";
    position: absolute;
    top: 99%;
    height: 5px;
    width: 20px;
    background-color: #8BD25A;
    border-radius: 5em;
}

.extra_area>a{
    margin: 1em 0;
    transition: 0.4s;
    font-weight: 400;
}

.extra_area>a:hover{
    opacity: 0.6;
}

.contact_area{
    margin: 0 10em;
    display: flex;
    flex-direction: column;
    
}

.contact_area>*{
    margin: 0;
    color: white;
    text-decoration: none;
}

.contact_area>p{
    margin: 1em 0;
    opacity: 0.6;
}

.contact_area>h2{
    margin-bottom: 1em;
    position: relative;
}

.contact_area>h2::before{
    content: "";
    position: absolute;
    top: 99%;
    height: 5px;
    width: 20px;
    background-color: #8BD25A;
    border-radius: 5em;
}

.contact_area>a{
    margin: 1em 0;
    transition: 0.4s;
    font-weight: 400;
}

.contact_area>a:hover{
    opacity: 0.6;
}


.bottom_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credit{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.credit>p{
    opacity: 0.6;
}

.credit>a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
    margin: 0;
}

.credit>a:hover{
    opacity: 0.6;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials>div{
    background-color: white;
    margin: 0 1em;
    padding: 1em;
    border-radius: 50%;
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
}

.socials>div:hover{
   
    opacity: 1;
}
#facebook{
    padding: 1em 1.25em;
}

.socials>div>a{
    text-decoration: none;
    color: #421D32;

}

