@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body{
    margin: 0;
    font-family: 'Arimo', sans-serif; 
}

input{
    font-family: 'Arimo', sans-serif; 
    width: 12em;
    font-size: 16px;
}
label{
    font-size: 20px;
}

button{
    font-family: 'Arimo', sans-serif; 
}

.button{
    background-color: #3F4953;
    border: 0.1em solid transparent;
    padding: 1em;
    border-radius: 3em;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color:#3F4953;
    border-color: #3F4953;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 15em;
    margin: 1em;
}

.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(189, 189, 189);
}

.login_menu{
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    text-align: center;
}