@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body{
    font-family: 'Arimo', sans-serif; 
    margin: 0;
}

.shop_container{
    margin-top: 115px;
    margin-bottom: 100px;
}



/* LABEL AREA  */

.label_area{
    padding: 2em 10em;
    background-color: #F9F9FA;
    border: 0.1em rgb(186, 186, 186);
    border-style: dashed none;
}

/* LABEL AREA  */

/* -------------------------------------------------------- */





/* SHOP AREA */

.shop_area{
    display: flex;
    flex-direction: row;
    margin: 5em 0;
    justify-content: center;
}




.product_area{
    flex-basis: 65%;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    position: relative;
    margin: 1em 2em;
}

.product:hover .product_price {
    visibility: hidden;
    opacity: 0;
}

.product:hover .product_add{
   visibility: visible;
   opacity: 1;
}

.product>*{
    cursor: pointer;
}

.product_name{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    color:#342828;
    transition: 0.3s;
    margin-top: 1em;
}

.product_name:hover{
    color:#B1AEAE;
}


.product_tag{
    margin:0.5em 0;
    color:#342828;
    transition: 0.3s;
    text-decoration: none;
}


.product_tag:hover{
    color:#B1AEAE;
}

.product_price{
    color:#342828;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms;
}


.product_img{
    height: 240px;
    width: 240px;
    transition: 0.3s;
}

.product_img:hover{
    transform: scale(1.1)
}

.product_add{
    visibility:hidden;
    position: absolute;
    opacity: 0;
    top:24.5em;
    transition: opacity 600ms, visibility 600ms;
    color: white;
    background-color: white ;
    color:#342828;
    padding: 0.75em 1.25em;
    border:0.1em rgb(199, 199, 199) solid;
    transition: 0.3s;
    border-radius: 5em;
    font-weight: bold;
}

.product_add:hover{
    background-color: #FE2F41;
    color: white ;
}

/* PRODUCT AREA */

/* SORTING AREA */

.sidebar{
    flex-basis: 15%;
    
}

.sorting_label{
    position: relative;
}

.area_label_text::before{
    content: "";
    position: absolute;
    height: 5px;
    top:90%;
    width: 20px;
    background-color: #8BD25A;
    border-radius: 5em;
}

.sort_categories{
    display: flex;
    flex-direction: column;
}

.sort_category{
    text-decoration: none;
    color: #342828;
    font-size: 18px;
    margin: 0.5em 0;
    font-weight: 300;
}

.sort_category:hover{
   color: #4f4f4f;;
}

/* SORTING AREA */



/* SHOP AREA */

